MinorTest/src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/MinorWebService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://companyInfo.minor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://companyInfo.minor/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://companyInfo.minor/" schemaLocation="http://localhost:8080/MinorWebService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCashFlow">
<part name="parameters" element="tns:getCashFlow"/>
</message>
<message name="getCashFlowResponse">
<part name="parameters" element="tns:getCashFlowResponse"/>
</message>
<message name="getIncomeStatement">
<part name="parameters" element="tns:getIncomeStatement"/>
</message>
<message name="getIncomeStatementResponse">
<part name="parameters" element="tns:getIncomeStatementResponse"/>
</message>
<message name="getCompanyInfo">
<part name="parameters" element="tns:getCompanyInfo"/>
</message>
<message name="getCompanyInfoResponse">
<part name="parameters" element="tns:getCompanyInfoResponse"/>
</message>
<portType name="CompanyInfo">
<operation name="getCashFlow">
<input wsam:Action="http://companyInfo.minor/CompanyInfo/getCashFlowRequest" message="tns:getCashFlow"/>
<output wsam:Action="http://companyInfo.minor/CompanyInfo/getCashFlowResponse" message="tns:getCashFlowResponse"/>
</operation>
<operation name="getIncomeStatement">
<input wsam:Action="http://companyInfo.minor/CompanyInfo/getIncomeStatementRequest" message="tns:getIncomeStatement"/>
<output wsam:Action="http://companyInfo.minor/CompanyInfo/getIncomeStatementResponse" message="tns:getIncomeStatementResponse"/>
</operation>
<operation name="getCompanyInfo">
<input wsam:Action="http://companyInfo.minor/CompanyInfo/getCompanyInfoRequest" message="tns:getCompanyInfo"/>
<output wsam:Action="http://companyInfo.minor/CompanyInfo/getCompanyInfoResponse" message="tns:getCompanyInfoResponse"/>
</operation>
</portType>
<binding name="CompanyInfoPortBinding" type="tns:CompanyInfo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCashFlow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIncomeStatement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompanyInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="CompanyInfoPort" binding="tns:CompanyInfoPortBinding">
<soap:address location="http://localhost:8080/MinorWebService/NewWebService"/>
</port>
</service>
</definitions>